body {
  min-height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
  background: tomato;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.container{
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  background-color: orange;
  flex: 0 0 80%;
}

#quoteBtn {
  border: none;
  color: aquamarine;
  background: lightgreen;
  font-size: 1.3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 7px;
  cursor: pointer ;

}

#quotebtn:hover {
  color:brown;
}
blockquote {
  background:lightseagreen;
  border-left: 10px solid lightcyan;
  margin: 1.5rem;
  padding: 0.5rem;
}

#quoteAuthor{
  color: black;
}